.navbar{
    width: 100dvw;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: color-mix(in srgb, var(--color-3), rgb(0, 0, 0, 0.2));
    z-index: 999;
    backdrop-filter: Blur(20px);
}